**/target
**/trace
**/logs
*.class
*.iml
*.log
.DS_Store
.classpath
.project
.settings
.idea
velocity.log
.metadata
.iml
./program/springBootSeed/seed.iml
**/node_modules

# Package Files #
*.war
*.ear



/.idea
/.idea/*.xml
*/RCNN/17flowers
*/RCNN/2flowers
**/__pycache__/**


*/RCNN/dataset.pkl
*/RCNN/*.zip
*/RCNN/*.tar.gz

_data/*
./python/utils/gen/data/*.jpg
./python/utils/gen/data/*.png
*.tfrecords



