**/target
**/trace
**/logs
*.class
*.iml
**/*.iml
*.log
.DS_Store
.classpath
.project
.settings
.idea
velocity.log
.metadata
.iml
**/node_modules

# Package Files #
*.war
*.ear



/.idea
/.idea/*.xml


**/*.iml




